@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');



* {

	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

header {

	background-image: url(../img/mast.png);
	padding: 5% 0;
	width: 100%;


}

h1 {

	font-size: 30px;
	font-family: Poppins;
	text-align: center;
	color: white;
	padding-top: 5%;

}

.logo {

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;

}

.navbar li {

	width: 100%;
	background-color: teal;
	list-style: none;
	margin-top: 30px;
	padding: 20px 0;

}

.navbar a {
	
	color: white;
	font-size: 20px;
	font-family: Poppins;
	text-decoration: none;
	letter-spacing: 2px;
}

.navbar {

	text-align: center;
	margin-left: 3%;
	margin-right: 3%;
}

h3 {

	font-size: 24px;
	font-family: Poppins;
	text-align: left;
	color: teal;
	padding-top: 5%;

}

h2 {

	font-size: 24px;
	font-family: Poppins;
	text-align: center;
	color: teal;
	padding-top: 5%;
	font-weight: 500;

}

.container {

	padding-left: 3%;
	padding-right: 3%;
}

.info {

	font-size: 0.75rem;
	font-family: Poppins;
	text-align: left;
	color: teal;
	padding-top: 2%;
	padding-bottom: 8%;
}

.img-b {

	width: 100%;
	padding-top: 3%;


}

footer {

	text-align: left;
	color: grey;
	padding-left: 3%;
	padding-right: 3%;
	font-size: 30px;

}



footer i {

	padding-right: 4%;
	padding-bottom: 5%;

}


figcaption {

	text-align: center;
	font-size: 0.75rem;

}

.copy {

	font-size: 0.75rem;
	padding-bottom: 3%;
	font-family: Poppins;

}


@media only screen and (min-width: 35rem) {

	.navbar li {

	width: 100px;
	background-color: teal;
	list-style: none;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: 4%;
	margin-left: 6%;
	display: inline;

}

	.a {

		padding-right: 50px !important;
		padding-left: 50px !important;


	}

	.b {
		padding-right: 20px !important;
		padding-left: 20px !important;
	}


	.navbar {

	text-align: center;
	margin-left: 0;
	position: relative;
	bottom: 55px;

	}

	h1 {

	position: relative;
	top: 55px;


	}

	h3 {

	font-size: 24px;
	font-family: Poppins;
	text-align: left;
	color: teal;
	padding-top: 5%;

}

h2 {

	font-size: 24px;
	font-family: Poppins;
	text-align: center;
	color: teal;
	padding-top: 5%;
	font-weight: 500;

}

.container {

	padding-left: 5%;
	padding-right: 5%;
}

.info {

	font-size: 1rem;
	font-family: Poppins;
	text-align: left;
	color: teal;
	padding-top: 1%;
	padding-bottom: 8%;

}

.img-b {

	width: 40%;
	padding-top: 3%;
	padding-right: 5%;
	float: left;
	padding-bottom: 5.2%;

}

.img-f {



}



footer {

	text-align: left;
	color: grey;
	padding-left: 3%;
	padding-right: 3%;
	font-size: 30px;
	clear: left;

}



footer i {

	padding-right: 4%;
	padding-bottom: 5%;

}

figcaption {

	position: relative;
	top: 100%;
	right: 250px;
	text-align: left;
	font-size: 1rem;


}


    







}



@media only screen and (min-width: 80rem) {

	

	.logo {

		position: relative;
		right: 180px;
		top: 18px;
	}

	.navbar li{

		position: relative;
		bottom: 130px;
		right: 65px;
		margin-right: 2%;
		margin-left: 0.5%;

	}

	h1 {

	position: relative;
	bottom: 150px;
	right: 210px;
	font-size: 45px;
	padding-top: 1% !important;
	padding-bottom: 5% !important;
	


	}

		h3 {

	font-size: 24px;
	font-family: Poppins;
	text-align: left;
	color: teal;
	padding-top: 5%;

}

h2 {

	font-size: 28px;
	font-family: Poppins;
	text-align: left;
	color: teal;
	padding-top: 5%;
	font-weight: 500;

}

.container {

	padding-left: 10%;
	padding-right: 10%;
}

.info {

	font-size: 1.25rem;
	font-family: Poppins;
	text-align: left;
	color: teal;
	padding-top: 0 !important;
	padding-bottom: 2% !important;
	clear: left;
	position: relative;
	bottom: 320px;
	left: 300px;

	width: 700px;



}

.img-b {

	width: 30% !important;
	padding-top: 5%;
	padding-right: 5%;
	float: left;
	padding-bottom: 5% !important;


}

.img-f {



}



footer {



	text-align: left;
	color: grey;
	padding-left: 10%;
	padding-right: 3%;
	font-size: 40px;
	clear: left;

}



footer i {

	padding-right: 4%;
	padding-bottom: 5%;

}

figcaption {

	position: relative;
	top: 320px;
	right: 250px;
	text-align: left;
	font-size: 1rem;


}



}















